<div class="heading-wrapper">
    <div class="navigation container">
    <!--<h1 class="title center">VINYLHOLICS</h1>-->
        <img class="title center" src="/img/logo.png" />
        <div class="search-bar center">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default search-button" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div>
            <ul class="nav nav-pills nav-bar">
                <li role="presentation" class="nav-item"><a href="/">Home</a></li>
                <li role="presentation" class="nav-item"><a href="/browse/newest">Newest Arrivals</a></li>
                <li role="presentation" class="nav-item"><a href="/browse/all">Browse</a></li>
            </ul>
            <a href="/register" class="btn btn-default login" role="button">Register</a>
            <a href="/login" class="btn btn-default login" role="button">Login</a>
        </div>
    </div>
</div>