<div class="heading-wrapper">
    <div class="navigation container">
        <img class="title center" src="/img/logo.png" alt="Vinylholics" />
        <% include search_bar.ejs %>
        <div>
            <ul class="nav nav-pills nav-bar">
                <li role="presentation" class="nav-item <% if(title === "Home") {%>active<% }%>"><a href="/">Home</a></li>
                <li role="presentation" class="nav-item <% if(title === "Browse All Vinyls") {%>active<% }%>"><a href="/browse/page/1">Browse Vinyls</a></li>
                <li role="presentation" class="nav-item <% if(title === "Browse Artists") {%>active<% }%>"><a href="/browse/artist">Browse Artists</a></li>
            </ul>
            <% if(isLoggedIn) {%>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-lg profile-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <% if(isAdmin) {%>
                            <li><a href="/manage/vinyls">Manage Vinyls</a></li>
                            <li><a href="/manage/artists">Manage Artists</a></li>
                            <li><a href="/manage/orders">Manage All Orders</a></li>
                            <li><a href="/order_archives">View Order Archives</a></li>
                            <li role="separator" class="divider"></li>
                        <% } %>
                        <li><a href="/orders">View Order History</a></li>
                        <li><a href="/profile/<%= username%>">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <span class="user-label">Hi <%= displayname%>!</span>
            <% } else { %>
            <a href="/register" class="btn btn-default login" role="button">Register</a>
            <a href="/login" class="btn btn-default login" role="button">Login</a>

            <% } %>
        </div>
    </div>

    <div id="fb-root"></div>
</div>

<% if (locals.isLoggedIn) { %>
    <% include shopping_cart.ejs %>
<% } %>
