<div class="heading-wrapper">
    <div class="navigation container">
        <img class="title center" src="/img/logo.png" alt="Vinylholics" />
        <% include search_bar.ejs %>
        <div>
            <ul class="nav nav-pills nav-bar">
                <li role="presentation" class="nav-item <% if(title === "Home") {%>active<% }%>"><a href="/">Home</a></li>
                <li role="presentation" class="nav-item <% if(title === "Browse All Vinyls") {%>active<% }%>"><a href="/browse/all">Browse Vinyls</a></li>
                <li role="presentation" class="nav-item <% if(title === "Browse Artists") {%>active<% }%>"><a href="/browse/artist">Browse Artists</a></li>
                <% if(isLoggedIn) {%>
                    <li role="presentation" class="nav-item <% if(title === "Wishlist") {%>active<% }%>"><a href="#">Wishlist</a></li>
                <% } %>
            </ul>
            <% if(isLoggedIn) {%>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-lg profile-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <% if(username === "admin") {%>
                            <li><a href="#">Manage Vinyls</a></li>
                            <li><a href="#">Manage Order Histories</a></li>
                            <li role="separator" class="divider"></li>
                        <% } else { %>
                            <li><a href="#">View Order History</a></li>
                        <% } %>
                        <li><a href="#">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="btn-group dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle btn-lg profile-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <!--<li>-->
                            <!--<a href="#" class="cart-item">-->
                                <!--<span class="cart-item-content">-->
                                    <!--<img src="/image/small/7" width="30" alt="album cover image" />-->
                                    <!--Album name-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" class="cart-item">-->
                                <!--<span class="cart-item-content">-->
                                    <!--<img src="/image/small/1" width="30" alt="album cover image" />-->
                                    <!--Album name-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="#">View Cart</a></li>
                    </ul>
                </div>
                <span class="user-label">Hi <%= username%>!</span>
            <% } else { %>
                <a href="/register" class="btn btn-default login" role="button">Register</a>
                <a href="/login" class="btn btn-default login" role="button">Login</a>
            <% } %>
        </div>
    </div>
</div>

