<div class="heading-wrapper">
    <div class="navigation container">
        <img class="title center" src="/img/logo.png" alt="Vinylholics" />
        <% include search.ejs %>
        <div>
            <ul class="nav nav-pills nav-bar">
                <li role="presentation" class="nav-item"><a href="/">Home</a></li>
                <li role="presentation" class="nav-item"><a href="/browse/newest">Newest Arrivals</a></li>
                <li role="presentation" class="nav-item"><a href="/browse/all">Browse</a></li>
            </ul>
            <a href="/register" class="btn btn-default login" role="button">Register</a>
            <a href="/login" class="btn btn-default login" role="button">Login</a>
        </div>
    </div>
</div>