<div class="heading-wrapper">
    <div class="navigation container">
    <h1 class="title center">VINYLHOLICS</h1>
    <div class="search-bar center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
        </div>
    </div>
    <div>
        <ul class="nav nav-pills nav-bar">
            <li role="presentation" class="active nav-item"><a href="#">Home</a></li>
            <li role="presentation" class="nav-item"><a href="#">Newest Arrivals</a></li>
            <li role="presentation" class="nav-item"><a href="#">Browse</a></li>
        </ul>
        <button type="button" class="btn btn-default login">Login</button>
    </div>
    </div>
</div>