<div class="search-bar center">
    <form action="/search" method="post">
        <div class="input-group">
            <input class="form-control" name="keyword" id="keyword-search" placeholder="Search for...">
            <div class="input-group-btn">
                <button class="btn btn-default search-button" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</div>
