<script>
    function toggleSearchPanel() {
        let $searchPanel = $(".search_panel");
        let $searchInput = $("#keyword-search");
        let $searchButton = $(".search-button");

        if ($searchPanel.is(":hidden")) {
            $searchInput.val("");
            $searchInput.prop("disabled", true);
            $searchButton.hide();
        } else {
            $searchInput.prop("disabled", false);
            $searchButton.show();
        }

        $searchPanel.slideToggle();
    }
</script>

<div class="search-bar center">
    <form action="/search" method="post">
        <div class="input-group">
            <input class="form-control" name="keyword" id="keyword-search" placeholder="Search for...">
            <div class="input-group-btn">
                <button class="btn btn-default search-button" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button class="btn btn-default search-toggle" type="button" onclick="toggleSearchPanel()">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
            </div>
        </div>
    </form>

    <form action="/search" method="post">
        <div class="search_panel" style="display: none;">
            <label class="control-label" for="artist">By Artist</label>
            <input class="form-control" id="artist" name="artist"/>
            <label class="control-label" for="album">By Album Title</label>
            <input class="form-control" id="album" name="album"/>
            <label class="control-label" for="song">By Track Title</label>
            <input class="form-control" id="song" name="song"/>
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
</div>
