<div class="cart-container empty">
    <a href="#0" class="cart-trigger">
        <ul class="count">
            <li>0</li>
            <li>0</li>
        </ul>
    </a>

    <div class="cart">
        <div class="wrapper">
            <header>
                <p>Your Vinyls:</p>
                <span class="undo">Item removed. <a href="#0">Undo</a></span>
            </header>

            <div class="body">
                <div class="alert alert-danger" id="warning" hidden></div>
                <ul>
                    <!-- where all the ordered items go in -->
                </ul>
            </div>

            <footer>
                <a href="/checkout" class="checkout btn"><em>Checkout   $<span>0</span></em></a>
            </footer>
        </div>
    </div>
</div>
