<html>
<% include components/head.ejs %>
<body>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel='stylesheet'>
<% include components/menu_and_heading.ejs %>
<div class="container-404">
    <img src="/img/no_spoon.png" class="spoon">
    <div class="spoon-text">GO BACK TO WHERE YOU CAME FROM, HERO</div>
</div>
</body>
</html>
