<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <div class="jumbotron">
                <h1>Welcome to Vinylholics!</h1>
                <p>
                    Find those classic vinyls you have always been looking for and maybe stumble on a great deal for it!
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Browse Vinyls</a></p>
            </div>
        </div>
    </body>
</html>