<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <div class="login-panel">
                <h1 class="login-heading">Login</h1>
                <label name="username">Username:</label>
                <input type="text" class="form-control login-input" placeholder="">
                <label name="password">Password:</label>
                <input type="text" class="form-control login-input" placeholder="">
                <a href="#" class="forgot-password">Forgot Password?</a>
                <button class="btn btn-default login-button" type="button">Login</button>
            </div>
        </div>
    </body>
</html>