<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <div class="login-panel left">
                <h1 class="login-heading">Login</h1>

                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <form action="/login" method="post">
                    <label>Username:</label>
                    <input name="username" type="text" required class="form-control login-input" placeholder="">
                    <label>Password:</label>
                    <input name="password" type="password" required class="form-control login-input" placeholder="">
                    <a href="#" class="forgot-password">Forgot Password?</a>
                    <button class="btn btn-primary btn-large max-width" type="submit">Login</button>
                </form>
            </div>
            <div class="login-panel right">
                <h1 class="login-heading">Don't have an account?</h1>
                <p>Creating an account allows you to:</p>
                <ul>
                    <li>Add vinyls to a wishlist</li>
                    <li>Order vinyls online</li>
                    <li>Review your order history</li>
                </ul>
                <a href="/register" class="btn btn-primary btn-large max-width" role="button">Register now!</a>
            </div>
        </div>
    </body>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1963999183844087',
                cookie     : true,
                xfbml      : true,
                version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</html>