<html>
    <% include components/head.ejs %>
    <body>
        <% include components/menu_and_heading.ejs %>
        <div class="container content">
            <div class="login-panel left">
                <h1 class="login-heading">Login</h1>

                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <form action="/login" method="post">
                    <label>Username:</label>
                    <input name="username" type="text" required class="form-control login-input" placeholder="">
                    <label>Password:</label>
                    <input name="password" type="password" required class="form-control login-input" placeholder="">
                    <a href="#" class="forgot-password">Forgot Password?</a>
                    <button class="btn btn-primary btn-large max-width" type="submit">Login</button>
                </form>
                <hr>
                <a href="/auth/facebook" class="btn btn-primary facebook" style="background-color:#3B5998"><span class="fa fa-facebook-official" style="font-size:20px"></span> Login with Facebook</a>
            </div>
            <div class="login-panel right">
                <h1 class="login-heading">Don't have an account?</h1>
                <p>Creating an account allows you to:</p>
                <ul>
                    <li>Add vinyls to a wishlist</li>
                    <li>Order vinyls online</li>
                    <li>Review your order history</li>
                </ul>
                <a href="/register" class="btn btn-primary btn-large max-width" role="button">Register now!</a>
            </div>
        </div>
    </body>

</html>