<html>
<% include components/head.ejs %>
<body>
<% include components/menu_and_heading.ejs %>
<div class="container content">
    <% if (locals.archiving_error) { %>
    <div class="alert alert-danger" id="111">
        <%= archiving_error %>
    </div>
    <% } else if (locals.archiving_done) { %>
    <div class="alert alert-success" id="222">
        <%= archiving_done %>
    </div>
    <% } else if (locals.error) { %>
    <div class="alert alert-danger">
        <%= error %>, please refresh or contact our <a href="mailto:hectorcaesar@hotmail.com">customer service</a>.
    </div>
    <% } %>

    <h1>Manage All <%= heading %></h1>

    <% if(heading === "Vinyls") { %>
        <a href="/add/vinyl" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Vinyl
        </a>
    <% } else if(heading === "Artists") { %>
        <a href="/add/artist" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Artist
        </a>
    <% } %>

    <div>
        <% if (locals.albums) { %>
            <% include manage_list/list_vinyls.ejs %>
        <% } else if (locals.artists) { %>
            <% include manage_list/list_artists.ejs %>
        <% } else if (locals.orders) { %>
            <% include manage_list/list_orders.ejs %>
        <% } %>
    </div>
</div>
</body>
</html>
