/* NAVIGATION */
.navigation{
    padding-top: 20px;
    padding-bottom: 10px;
}

.nav-bar{
    width: max-content;
    float: left;
}

li.nav-item{
    width: 150px;
    text-align: center;
}

/* BANNER */
.title{
    padding-bottom: 20px;
}

.search-bar{
    width: 300px;
    margin-bottom: 10px;
}

.heading-wrapper{
    background-color: white;
    position: fixed;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #d9d9d9;
}

/* BUTTONS */
.login{
    float: right;
    border: 0px;
    padding: 10px 15px;
    color: #337ab7;
    font-size: 14px;
    width: 80px;
}

.login:hover, a:hover{
    color: #337ab7;
}

.btn-large{
    font-size: 16px;
    margin-top: 20px;
}

.max-width{
    width: inherit;
}

button.search-button{
    padding: 9px;
}

/* BROWSE ITEMS */
.item{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: max-content;
}

.item-caption{
    padding: 8px;
}

/* PAGES */
.container{
    clear: both;
    background-color: white;
}

.container.content{
    height: auto !important;
    min-height:100%;
    padding-top: 250px;
}

.login-panel{
    width: 450px;
}

.register-panel{
    width: 500px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.login-panel-wrapper{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* INPUTS */
.login-input{
    margin-bottom: 10px;
}

/* LINKS */
.forgot-password{
    display: block;
    text-align: right;
    font-size: 12px;
}

.login-heading{
    margin-bottom: 20px;
}

/* GENERIC STYLING */
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}